<label>Let's add and event here:</label>
<!-- <input type="text" class="form-control" (input)="onAddingInput($event)" /> -->
<input type="text" class="form-control" [(ngModel)]="theInput" /> <br />

<!-- <p>{{ theInput }}</p> -->
<button
  class="btn btn-primary"
  [disabled]="!allowNewServer"
  (click)="onServerCreation()"
>
  Add Server
</button>
<p>{{ serverCreationStatus }}</p>
<p [innerText]="allowNewServer"></p>
<app-server></app-server><br />
<hr />
<h1>This is my assignment</h1>
<label>Username:</label>
<input type="text" class="form-control" [(ngModel)]="username" /> <br />
<p>{{ username }}</p>
<button
  class="btn btn-primary"
  [disabled]="username === ''"
  (click)="onClickReset()"
>
  Username Button
</button>
